{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Sound System {% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="{% static "frontend/bootstrap.min.css" %}" rel="stylesheet">
        {% block style %}{% endblock %}
        <style>
            body {
                background-color:#f6f0ff;
                padding-top: 65px; 
            }
        </style>
        <script src="{% static "frontend/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "frontend/bootstrap.min.js" %}"></script>
        <script src="{% static "frontend/moment.js" %}"></script>
        <script defer type="text/javascript"  src="{% static "frontend/fontawesome-all.min.js" %}"></script>
        <script src="{% static "frontend/clock.js" %}"></script>
        <script src="{% static "frontend/data-functions.js" %}"></script>
        <script>
            window.appTag = 'YES';
        </script>
        {% block script %}{% endblock %}

    </head>
    <body>
        <nav class="navbar fixed-top navbar-dark justify-content-between mb-4" style="background-color: #ec68b9;">
            <a class="navbar-brand" href="#close">
                {% if is_device %}
                <i class="fas fa-home"></i> &nbsp;&nbsp; 
                {% endif %}
                <span id="serverDate" class="d-none d-sm-inline">...</span>
                <span id="serverTime">, ...</span>
            </a>
            <form class="form-inline pb-0 mb-0">
                {% if is_device %}
                <a class="btn btn-success mr-l mb-0" href="#close"><i class="fas fa-window-close"></i><span class="d-none d-md-inline"> Close </span></a>
                {% endif %}
            </form>
            {% block navbar %}{% endblock %}
        </nav>
        {% csrf_token %}
        {% block content %}{% endblock %}
        {% block endscript %}{% endblock %}
    </body>
</html>
