{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}  

    <a href="{% url 'vumeters' %}" class="btn btn-lg btn-block btn-primary">VU Meters</a> 
    <a href="{% url 'time' %}" class="btn btn-lg btn-block btn-primary">Time Series</a> 
    <a href="{% url 'timeseries' %}" class="btn btn-lg btn-block btn-primary">Time Series (Bokeh)</a> 
    <a href="{% url 'calendar' %}" class="btn btn-lg btn-block btn-primary">Calendar</a> 
    <a href="{% url 'manual_refresh' %}" class="btn btn-lg btn-block btn-primary">Manual Refresh</a> 
    
{% endblock %}   

