{% extends 'frontend/base.html' %}
{% load static %}

{% block style %}
<style>
    .red {
        color: red;
    }
    #signal-row div, #volume-row div {
        text-align:center; 
        display:table;
    }

    #signal-row h1, #volume-row h1 {
        display:table-cell; 
        vertical-align:middle;
        font-size: 100px;
    }

</style>
{% endblock %}



{% block content %} 
<div class="container-fluid">
    Node: <span id="node_name"></span>
    <div class="row">
        <div id="plot-space" class="col-md-12 col-lg-7 col-xl-8"></div>
        <div class="col-md-12 col-lg-5 col-xl-4">
            <ul id="data-list" class="list-group"></ul>
        </div>
    </div>

    <div id="signal-row" class="row mb-4 justify-content-left align-middle"></div>
            
    <div id="volume-row" class="row mb-4 justify-content-left align-middle"></div>


    <div id="options-bar" class="row mb-4 justify-content-center">
        <div class="col-6">
            <div id="timestamp" class="row mb-4 text-right"><h1></h1></div>
        </div>
        <div class="col-6 text-left">
            <button id="refresh" class="btn btn-xl btn-info btn-block" type="button"><i class="fas fa-sync"></i> Refresh</button>
        </div>
    </div>

</div>
{% endblock %}     

{% block endscript %}   
    <script>
        
        // var sensor_mac = "sensor215";
        var timer = null;
        var reading_expected_every_seconds = 5;
        var cutoff_age = 10; // After this many seconds assume data loss and set bas to 0

        var hide_signal = {{ hide_signal|yesno:"true,false" }};
        var hide_volume = {{ hide_volume|yesno:"true,false" }};

        // var sensor_choices = [];

        var pick_selected = {{ request.session.pick_selected|safe}};
        var sid = 0;
        for (var k in pick_selected) {
            sid = parseInt(k);
            break
        }

        // Plot
        var app = {
            num_signal_bars: 10,
            num_volume_bars: 10,
            min_db: 35, // Background level
            max_db: 90, // Everything above this is 100%
            worst_sig: Math.abs(-90),
            best_sig: Math.abs(-25), 
        }
        
        var signalBarRed = "{% static 'frontend/vumeters/bar-red.svg' %}";
        var signalBarMinRed = "{% static 'frontend/vumeters/signal-min-red.svg' %}";
        var signalBar0   = "{% static 'frontend/vumeters/bar-0.svg' %}";
        var signalBar1   = "{% static 'frontend/vumeters/bar-1.svg' %}";
        var signalBarMin = "{% static 'frontend/vumeters/signal-min.svg' %}";
        var signalBarMax = "{% static 'frontend/vumeters/signal-max.svg' %}";
        var volumeBar0   = "{% static 'frontend/vumeters/bar-0.svg' %}";
        var volumeBar1   = "{% static 'frontend/vumeters/bar-1.svg' %}";
        var volumeBarMin = "{% static 'frontend/vumeters/volume-min.svg' %}";
        var volumeBarMax = "{% static 'frontend/vumeters/volume-max.svg' %}";
        var signalLost = "{% static 'frontend/vumeters/signal-lost.svg' %}";
        var signalBarLost = "{% static 'frontend/vumeters/bar-lost.svg' %}";

        var initPlot = function() {
            $('#signal-row').html('<div class="col-1 strength-bar"><img id="signalbar-min" src="' + signalBarMin + '"></div>');
            $('#signal-row').append('<div class="col-2"><h1 class="display-1 align-middle"></h1></div>');
            $('#volume-row').html('<div class="col-1 strength-bar"><img src="' + volumeBarMin + '"></div>');
            $('#volume-row').append('<div class="col-2"><h1 class="display-1 align-middle"></h1></div>');
        }
        
        // Takes a percentage
        var setMeters = function(vol, sig) {
            console.log("setting meters", vol, sig);
                
            var signalBars = Math.round(app.num_signal_bars * (sig / 100));
            console.log('signalBars', signalBars);

            var volumeBars = Math.round(app.num_volume_bars * (vol / 100));
            console.log('volumeBars', volumeBars);

            if (signalBars == 0) {
                $('#signalbar-min').attr('src', signalLost);
                $('#signal-row h1').addClass("red");
            } else {
                $('#signalbar-min').attr('src', signalBarMin);
                $('#signal-row h1').removeClass("red");
            }           
            
            $('#signal-row h1').html(signalBars + '%');
            $('#volume-row h1').html(volumeBars + '%');
            
        }
        
     

        var wifiConnectionToServerFailed = function (error_message) {
            setMeters(0, 0);
            // alert(error_message);
            clearInterval(timer);
        }
        
  
       

        // Run
        var main = function() {

            // sensor_choices = [];

            getSensors(function (sensor, error) {
               if (error) { wifiConnectionToServerFailed(error); return; }

            //    sensor_choices.push(sensor.mac);

               if(sensor.id === sid) {
                // console.log(sensor);
                $('#node_name').html(sensor.mac);

                // Get readings
                var s = moment.utc().subtract(reading_expected_every_seconds * 10, 's'); // Get readings
                var e = moment.utc();
                
                // console.log("Search start", s.format('YYYY-MM-DD HH:mm:ss'), "| end", e.format('YYYY-MM-DD HH:mm:ss'));

                getReadings(sensor, s, e, function(readings, error) {
                    
                    if (error) { wifiConnectionToServerFailed(error); return; }
                    
                    if (readings.length > 0) {

                        var reading = readings[0];
                        for (i in readings) {
                            if (moment.utc(readings[i].ts).isAfter(moment.utc(reading.ts))) reading = readings[i];
                        }
                        
                        // var reading = readings[readings.length-1];
                        console.log(reading);

                        var vol = reading.volume;
                        var sig = reading.RSSI;
                        var ts = moment.utc(reading.ts);
              

                       
                        vol = Math.max(0, Math.min(100, 100 * ( (vol-app.min_db) / (app.max_db-app.min_db) ) ));
                        sig = 100 - Math.max(0, Math.min(100, 100 * ( (Math.abs(sig) - app.best_sig) / (app.worst_sig-app.best_sig) ) ));
                        setMeters(vol, sig, "black");
                        $('#timestamp h1').html(ts.format("YYYY-MM-DD HH:mm:ss"));
                        
                    }
                });
               }
         });
        }
        
       
 

        initPlot();
        
        // Every 2 seconds refresh the data
        main();
   

        $('#refresh').click(function(e) {
            $('#timestamp h1').html("Updating...");
            main();
        });
        
    </script>
{% endblock %}
