{% extends 'frontend/base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block script %}
<script>
    // $('#signal-row').html('<div class="col-1 strength-bar"><img src="img/v2/signal-min.svg"></div>');
    //     for (var i = 0; i < app.num_signal_bars; i++) $('#signal-row').append('<div class="col-1 strength-bar"><img id="signal-bar-'+i+'" src="img/v2/bar-0.svg"></div>');
    //     $('#signal-row').append('<div class="col-1 strength-bar"><img src="img/v2/signal-max.svg"></div>');
    //     $('#volume-row').html('<div class="col-1 strength-bar"><img src="img/v2/volume-min.svg"></div>');
    //     for (var i = 0; i < app.num_volume_bars; i++) $('#volume-row').append('<div class="col-1 strength-bar"><img id="volume-bar-'+i+'" src="img/v2/bar-0.svg"></div>');
    //     $('#volume-row').append('<div class="col-1 strength-bar"><img src="img/v2/volume-max.svg"></div>');
</script>
{% endblock %}
 

{% block content %} 
<div class="container-fluid">
    <div class="row">
        <div id="plot-space" class="col-md-12 col-lg-7 col-xl-8"></div>
        <div class="col-md-12 col-lg-5 col-xl-4">
            <ul id="data-list" class="list-group"></ul>
        </div>
    </div>

    <div id="signal-row" class="row mb-4 justify-content-center"></div>
            
    <div id="volume-row" class="row mb-4 justify-content-center"></div>

    <div class="row mb-4 ">
        <div class="col-10">
            <a href="/" class="btn btn-info btn-block">Back</a>
        </div>
        <div class="col-2">
            <button id="debug" class="btn btn-default btn-block" type="button">Debug</button>
        </div>
    </div>
</div>
{% endblock %}     

{% block endscript %}   
    <script>
        
        var sensor_mac = "sensor215";
        var reading_expected_every_seconds = 5;
        var cutoff_age = 10; // After this many seconds assume data loss and set bas to 0

        var sensor_choices = [];

        // Plot
        var app = {
            num_signal_bars: 10,
            num_volume_bars: 10,
            min_db: 35, // Background level
            max_db: 90, // Everything above this is 100%
            worst_sig: Math.abs(-90),
            best_sig: Math.abs(-25), 
        }
        
        var signalBarRed = "{% static 'frontend/vumeters/bar-red.svg' %}";
        var signalBarMinRed = "{% static 'frontend/vumeters/signal-min-red.svg' %}";
        var signalBar0   = "{% static 'frontend/vumeters/bar-0.svg' %}";
        var signalBar1   = "{% static 'frontend/vumeters/bar-1.svg' %}";
        var signalBarMin = "{% static 'frontend/vumeters/signal-min.svg' %}";
        var signalBarMax = "{% static 'frontend/vumeters/signal-max.svg' %}";
        var volumeBar0   = "{% static 'frontend/vumeters/bar-0.svg' %}";
        var volumeBar1   = "{% static 'frontend/vumeters/bar-1.svg' %}";
        var volumeBarMin = "{% static 'frontend/vumeters/volume-min.svg' %}";
        var volumeBarMax = "{% static 'frontend/vumeters/volume-max.svg' %}";
        var signalLost = "{% static 'frontend/vumeters/signal-lost.svg' %}";
        var signalBarLost = "{% static 'frontend/vumeters/bar-lost.svg' %}";

        var initPlot = function() {
            $('#signal-row').html('<div class="col-1 strength-bar"><img id="signalbar-min" src="' + signalBarMin + '"></div>');
            for (var i = 0; i < app.num_signal_bars; i++) $('#signal-row').append('<div class="col-1 strength-bar"><img id="signal-bar-'+i+'" src="' + signalBar0 + '"></div>');
            $('#signal-row').append('<div class="col-1 strength-bar"><img id="signalbar-max" src="' + signalBarMax + '"></div>');

            $('#volume-row').html('<div class="col-1 strength-bar"><img src="' + volumeBarMin + '"></div>');
            for (var i = 0; i < app.num_volume_bars; i++) $('#volume-row').append('<div class="col-1 strength-bar"><img id="volume-bar-'+i+'" src="' + volumeBar0 + '"></div>');
            $('#volume-row').append('<div class="col-1 strength-bar"><img src="' + volumeBarMax + '"></div>');
        }
        
        // Takes a percentage
        var setMeters = function(vol, sig) {
            console.log("setting meters", vol, sig);
                
            var signalBars = Math.round(app.num_signal_bars * (sig / 100));
            console.log('signalBars', signalBars);

            var volumeBars = Math.round(app.num_volume_bars * (vol / 100));
            console.log('volumeBars', volumeBars);

            if (signalBars == 0) {
                var z = signalBarLost;
                $('#signalbar-min').attr('src', signalLost);
                $('#signalbar-max').attr('src', signalLost);
                for (var i = 0; i < app.num_signal_bars; i++) {
                    $('#signal-bar-'+i).attr('src', z);  
                }                
            } else {
                $('#signalbar-min').attr('src', signalBarMin);
                $('#signalbar-max').attr('src', signalBarMax);

                for (var i = 0; i < app.num_signal_bars; i++) {
                    var z = (i < signalBars ? signalBar1: signalBar0);
                    $('#signal-bar-'+i).attr('src', z);
                }
            }           

            for (var i = 0; i < app.num_volume_bars; i++) {
                var z = (i < volumeBars ? volumeBar1 : volumeBar0);
                $('#volume-bar-'+i).attr('src', z);
            }
        }

        var wifiConnectionToServerFailed = function (error_message) {
            setMeters(0, 0);
            alert(error_message);
            clearInterval(timer);
        }

        // Run
        var main = function() {

            sensor_choices = [];
            

            getSensors(function (sensor, error) {
               if (error) { wifiConnectionToServerFailed(error); return; }

               sensor_choices.push(sensor.mac);

               if(sensor.mac === sensor_mac) {
                // Get readings
                var s = moment.utc().subtract(reading_expected_every_seconds * 10, 's'); // Get readings
                var e = moment.utc();
                
                console.log("Search start", s.format('YYYY-MM-DD HH:mm:ss'), "| end", e.format('YYYY-MM-DD HH:mm:ss'));

                getReadings(sensor, s, e, function(readings, error) {
                    
                    if (error) { wifiConnectionToServerFailed(error); return; }
                    
                    if (readings.length > 0) {

                        var reading = readings[0];
                        for (i in readings) {
                            if (moment.utc(readings[i].ts).isAfter(moment.utc(reading.ts))) reading = readings[i];
                        }

                        // var reading = readings[readings.length-1];
                        console.log(reading);

                        var vol = reading.volume;
                        var sig = reading.rssi;
                        var ts = moment.utc(reading.ts);

                        // Is reading old?
                        var diff = moment.utc().diff(ts, 'seconds');
                        if (diff > cutoff_age) {
                            console.log("reading too old", ts.format('HH:mm:ss'), " [ now: ", moment.utc().format('HH:mm:ss'), ']' );
                            console.log("diff ",diff," | cutoff_age ", cutoff_age);
                            setMeters(0, 0);
                            setDead();
                            alert("No Data received for "+ cutoff_age + " seconds. Is the sensor in configuration mode?");
                            return;
                        } else {
                            // vol = Math.max(0, Math.min(100, 100 * ( (vol-app.min_db) / (app.max_db-app.min_db) ) ));
                            // $('#signal-row')
                            sig = 100 - Math.max(0, Math.min(100, 100 * ( (Math.abs(sig) - app.best_sig) / (app.worst_sig-app.best_sig) ) ));
                            setMeters(vol, sig, "black");
                        }
                    }
                });
               }
         });
        }
        
        initPlot();
        // Every 2 seconds refresh the data
        main();
        var timer = setInterval(main, (reading_expected_every_seconds / 2) * 1000);        

        $('#debug').click(function(e) {
            x = prompt("Please enter sensor name: "+sensor_choices, sensor_mac);
            if (x !== null) sensor_mac = x;
            y = prompt("Expecting readings every how many seconds?", reading_expected_every_seconds);
            if (y !== null) reading_expected_every_seconds = parseInt(y);
            z = prompt("How many seconds is the last reading considered to be too old?", cutoff_age);
            if (y !== null) cutoff_age = parseInt(z);

            console.log("Settings: ")
            console.log("sensor_mac", sensor_mac);
            console.log("reading_expected_every_seconds", reading_expected_every_seconds);
            console.log("cutoff_age", cutoff_age);       
            
            clearInterval(timer);
            var timer = setInterval(main, (reading_expected_every_seconds / 2) * 1000); 

        });
        
    </script>
{% endblock %}
